.DS_Store
**.DS_Store
**.metadata/
**.settings/
**.classpath
**.project
**/repast.log
*/bin/.gitignore
2-reactive/history.xml
3- deliberative/history.xml
3- deliberative/src/template/State 2.java
3- deliberative/history.xml
