.DS_Store
**.DS_Store
**.metadata/
**.settings/
**.classpath
**.project
**/repast.log
*/bin/
*/history.xml

4-centralized/config/centralized-original.xml
4-centralized/config/centralized-multiple.xml
4-centralized/config/centralized-multiple.xml
5-auction/config/agents.xml
5-auction/logist/doc.zip
5-auction/tournament/
