.DS_Store
**.DS_Store
**.metadata/
**.settings/
**.classpath
**.project
**/repast.log
*/bin/
*/history.xml

4-centralized/config/centralized-original.xml
4-centralized/config/centralized-multiple.xml
